<div class="container">
    <div class="spinner-container">
        <paper-spinner active="" id="progress"></paper-spinner>
    </div>
    <div class="group">
        <h1>Volume</h1>
        <input type="range" min="0" max="8" id="volume-slider">
    </div>
    <div class="group">
        <h1>Source</h1>
        <button id="quelleAlexa">Alexa</button>
        <button id="quelleMonitor">Monitor</button>
    </div>
    <div class="group">
        <h1>Sound</h1>
        <button id="toggleDBFB">DBFB</button>
    </div>
</div>